# Encoding
    AddDefaultCharset utf-8
# Turn on mod rewriteEngine
# For Apach2 - a2enmod rewrite
    RewriteEngine On  
# If file or directory doesn`t exist
    RewriteCond %{SCRIPT_FILENAME} !-d  
    RewriteCond %{SCRIPT_FILENAME} !-f  
# Redirect to index 
    RewriteRule ^(.*)$ ./index.php
# LifeTime session and cookie
    #php_value session.gc_maxlifetime 86400
    #php_value session.cookie_lifetime 0 